:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);

  height: 100%;

  --background: hsl(173, 49%, 59%);
  --base-contrast: #85b3ab;
  --mid-contrast: #4c7d67;
  --darker-contrast: hsl(175 25% 25% / 1);
  --darkest-contrast: hsl(175 27% 16% / 1);

  --light-border: 3px hsl(169 23% 47% / 1) solid;

  --dark-border: #507772;

  --container-shadow: 0px 0px 5px 4px hsl(156 32% 21% / 1);
  --chat-shadow: 0px 0px 6px 3px hsl(156 32% 14% / 1);
  --inset-shadow-larger: inset 0px 1px 5px 5px hsl(147 11% 20% / 1);

  --text-shadow: 1px 0px 31px #13251d;
  --header-text-shadow: 0px 2px 4px black;

  --large-pic-shadow: 0px 0px 11px 0px hsl(157 52% 5% / 1);

  --button-inactive: hsl(165 35% 12% / 1);
  --button-active: hsl(165 85% 2% / 1);

  color-scheme: light dark;
  color: white;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

@font-face {
  font-family: Inter;
  src: url(./assets/Fonts/inter.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./assets/Fonts/inter-italic.ttf);
  font-style: italic;
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  font-weight: 500;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  padding: 0.8rem;
  border-radius: 5px;
  background-color: #0a1614;

  &:focus-visible {
    outline: 2px #e9f4ee solid;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 0;
  color: hsl(0, 0%, 95%);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-inactive);
  cursor: pointer;
  transition: border-color 0.25s;
  outline: 1px solid #caefda;
  box-shadow: 0px 0px 5px 1px hsl(156 32% 3% / 1);

  &:disabled {
    color: hsl(0, 0%, 50%);
  }

  &:focus,
  &:hover,
  &:active {
    background-color: var(--button-active);
  }

  &:focus,
  &:active {
    outline: 2px solid #caefda;
    z-index: 1;
    color: hsl(0, 0%, 100%);
  }

  &:not(.send):not(.round) {
    border-radius: 15px;
  }
}

button.send,
button.closeSidebar {
  &:not(:active):not(:focus) {
    outline: none;
    box-shadow: none;
  }
}

li:not(.disc) {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  min-height: 0;
}

.logo {
  transition: transform 0.5s;
  box-shadow: 0px 0px 20px -6px #004227;

  &:hover {
    transform: scale(1.2);
  }
}

.formPage {
  min-height: 40vh;
  padding: 2rem;
  border-radius: 18px;
  background-color: #507772;
  box-shadow: 0px 0px 4px 1px #2c4b3f;
  border: 5px solid #4c7d67;
  width: max(250px, 30%);

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      align-self: flex-start;
      margin-bottom: 5px;
    }

    input {
      align-self: stretch;
      margin-bottom: 1rem;
      height: 1.2rem;
    }

    button {
      margin-top: 1rem;
    }
  }

  h3 {
    margin: 2rem;
    text-align: center;
  }

  .error {
    text-align: center;
  }

  li {
    margin-bottom: 1rem;
  }
}

header {
  height: 10vh;
  margin-top: 2rem;

  img {
    height: 100%;
    border-radius: 20px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .textGradient {
    color: transparent;
    background: rgb(0, 255, 121);
    background: linear-gradient(
      180deg,
      rgba(0, 255, 121, 1) 33%,
      rgba(250, 232, 0, 1) 66%,
      rgba(255, 91, 0, 1) 100%
    );
    background-clip: text;
  }

  h1 {
    -webkit-text-stroke: 1px hsl(0, 0%, 0%, 0.8);
    margin: 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  button {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

footer {
  height: 6vh;
  margin: 2rem;

  img {
    max-height: 100%;
    padding: 1rem;
    border-radius: 15px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.carousel {
  width: 500px;
  height: max-content;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;

    p {
      text-shadow: var(--header-text-shadow);
      padding: 0 4rem;
    }

    h2 {
      margin: 4rem;
      margin-bottom: 0;
      text-shadow: var(--header-text-shadow);
      border-radius: 10px;
    }
  }

  img {
    max-width: 100%;
    max-height: 500px;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 350px;
  }
}

.friendRequests {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  padding: 2rem 1rem;
  background-color: var(--darker-contrast);
  border: 2px solid var(--base-contrast);
  width: max(275px, 30%);
  text-align: center;

  h3 {
    text-shadow: var(--header-text-shadow);
    margin: 1rem;
    padding: 10px;
    border-radius: 5px;
  }

  label,
  span {
    text-shadow: var(--text-shadow);
  }

  form.addFriend {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      height: 45px;
      width: 45px;
      padding: 0;
      border-radius: 50%;
    }

    .inputGroup {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  .requests {
    display: grid;
    width: 100%;

    .requestItem {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 14px;
      border-radius: 10px;
      padding: 1rem;
      gap: 1rem;

      &:hover {
        background-color: var(--darkest-contrast);
      }

      .requestInfo {
        display: flex;
        align-items: center;
      }

      span {
        margin-left: 2rem;
        word-break: break-word;
      }

      .requestPfp {
        height: 70px;
        border-radius: 50%;
        border: 2px solid #4c7d67;
      }

      form {
        display: flex;
        gap: 1rem;

        button {
          border-radius: 50%;
          width: 35px;
          height: 35px;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  height: 100vh;
  max-height: 100vh;
  width: 215px;
  position: fixed;
  background-color: var(--darker-contrast);
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--base-contrast);
  border-left: 0;
  z-index: 10;
  box-shadow: inset 0px 0px 5px 2px hsl(147 11% 20% / 1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  transition: transform 0.5s;
  transform: translateX(-100%);

  padding: 1rem;

  top: 0;
  left: 0;

  h1,
  h3,
  .friendUsername {
    text-shadow: 0px 1px 4px black;
  }

  .friendPfp,
  .sidebarPfp {
    box-shadow: var(--large-pic-shadow);
  }

  button.closeSidebar {
    font-size: 35px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .sidebarPfp {
    height: 50px;
    border-radius: 50%;
    border: 2px solid #4c7d67;

    &:hover {
      box-shadow: 0px 0px 11px 2px hsl(157 52% 5% / 1);
    }
  }

  .sidebarTop {
    display: grid;
    gap: 1rem;
    max-height: calc(100vh - 3rem - 50px);
    position: relative;

    img.logo {
      max-width: 50%;
      justify-self: center;
      border-radius: 20px;
      margin: 1rem 0;
    }

    button.icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
    }

    .friendsList {
      display: grid;
      grid-auto-columns: 100%;
      overflow: auto;
      overflow-x: clip;
      scrollbar-width: thin;

      h3 {
        margin-bottom: 10px;
        padding-left: 8px;
      }

      hr {
        margin: 0;
      }

      .friendItem {
        display: grid;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        font-size: 14px;
        padding: 1rem;
        border-radius: 10px;
        grid-template-columns: auto auto;

        &:hover {
          background-color: var(--darkest-contrast);
        }

        .friendUsername {
          word-break: break-word;
        }

        .friendPfp {
          height: 35px;
          border-radius: 50%;
          border: 2px solid #4c7d67;
        }
      }
    }
  }

  .sidebarBottom {
    display: flex;
    justify-content: space-between;

    button.logout {
      border-radius: 50%;
      border: 2px solid #4c7d67;

      &:hover {
        box-shadow: 0px 0px 11px 2px hsl(157 52% 5% / 1);
      }
    }
  }
}

.panel {
  border-radius: 20px;
  box-shadow: var(--container-shadow);
}

.sidebar.active {
  transform: translateX(0);
}

.feedbackMsg {
  font-weight: 300;
}

.groupChat.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  padding: 2rem 1rem;
  background-color: var(--darker-contrast);
  border: 3px solid var(--base-contrast);
  box-shadow: var(--inset-shadow-larger);
  width: max(280px, 30%);
  text-align: center;

  span {
    text-shadow: var(--text-shadow);
  }

  h3 {
    text-shadow: var(--header-text-shadow);
    padding: 10px;
    border-radius: 5px;

    &.error {
      margin: 2rem;
    }
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  .pfp {
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 2px hsl(157 52% 8% / 1);
  }

  .friendsList {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .friendItem {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;

    &:hover {
      background-color: var(--darkest-contrast);
    }

    label {
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      gap: 1rem;

      span {
        word-break: break-word;
      }

      input {
        height: 20px;
        width: 20px;
        justify-self: end;
        box-shadow: 0px 0px 5px 0px hsl(157 52% 5% / 1);
      }

      img {
        border: 2px solid var(--base-contrast);
      }
    }
  }
}

ul.chats {
  display: grid;
  margin: 2rem;
  margin-top: 0;
  width: max(300px, 50%);
  background-color: var(--darker-contrast);
  border-radius: 15px;
  box-shadow: var(--inset-shadow-larger);
  border: var(--light-border);

  .chatItem {
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    align-items: center;
    gap: 3px 2rem;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    max-width: 100%;

    &:hover {
      background-color: var(--darkest-contrast);
      border: 1px solid var(--base-contrast);

      .chatTitle,
      .lastMessage {
        transform: scale(1.02);
      }

      .chatPic {
        transform: scale(1.05);
      }
    }

    .chatPic {
      max-width: 100%;
      max-height: 100%;
      grid-row: 1 /3;
      border-radius: 50%;
      box-shadow: var(--large-pic-shadow);
      border: 4px solid #4c7d67;
      transition: transform 0.5s;
    }

    .chatTitle,
    .lastMessage {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 75%;
      transition: transform 0.5s ease-in-out;
    }

    .chatTitle {
      align-self: end;
      font-weight: bold;
      font-size: 1.2em;
    }

    .lastMessage {
      align-self: start;
      font-size: 0.9em;
      font-weight: 300;
      color: #e2e2e2;
      grid-row: 2/3;
    }
  }
}

.chatHeader {
  height: 7vh;
  display: grid;
  justify-items: center;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  align-items: center;
  padding: 1rem 3rem;
  border-radius: 18px 18px 0 0;
  background-color: var(--darker-contrast);
  box-shadow: inset 0px 0px 4px #2b543a;
  text-shadow: var(--header-text-shadow);

  &:hover {
    background-color: var(--darkest-contrast);
    font-weight: 900;
  }

  img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: var(--chat-shadow);
    border: 2px solid #4c7d67;
  }
}

.chatContainer {
  border-radius: 20px;
  background-color: hsl(166 20% 56% / 1);
  box-shadow: var(--container-shadow);
  border: 2px solid #507772;
  width: max(330px, 30%);

  .chatLayout {
    padding: 2rem;
    box-shadow: inset 1px 1px 5px #4f6358;
    padding-bottom: 3rem;
    border-radius: 0 0 18px 18px;

    .msgInput {
      display: flex;
      background-color: darkgray;
      border-radius: 10px;
      margin-top: 2rem;
      box-shadow: var(--container-shadow);

      &:focus-within {
        outline: 2px #e9f4ee solid;
      }

      button.imgSend {
        border-radius: 0;
      }

      button {
        border-radius: 0 10px 10px 0;
        background-color: #0d291e;
        padding: 4px min(16px, 4vw);
      }

      input {
        border: 2px solid var(--darkest-contrast);
        border-right: 0;
        border-radius: 10px 0 0 10px;
        text-align: end;
        flex: 1;
        background-color: #e7fffb;
        color: black;
        padding: 0.8rem min(0.8rem, 1vw);

        &::placeholder {
          text-align: center;
        }
      }
    }

    .messages {
      display: grid;
      grid-template-columns: 100%;
      gap: 1rem;
      align-items: center;
      word-break: break-word;

      .message {
        display: grid;
        height: 100%;
        gap: 0 1rem;
        align-items: center;
        width: 100%;

        .msgGroup {
          display: grid;
          width: fit-content;
          background-color: #3b5350;
          padding: 10px 15px;
          box-shadow: var(--chat-shadow);
          gap: 1px;
          text-shadow: var(--text-shadow);
          -webkit-text-stroke: 0;
        }

        .msgPic {
          max-height: 80px;
          border-radius: 5px;
          border: 2px solid hsl(174deg 100% 89% / 30%);
        }

        .msgPfp {
          height: 40px;
          border-radius: 50%;
          box-shadow: 0px 0px 6px 3px hsl(156 32% 14% / 1);
          border: 2px solid #4c7d67;
        }

        .msgTime {
          font-weight: 200;
          font-size: 0.6em;
          align-self: start;
        }

        .msgText {
          align-self: end;
          font-weight: 300;
          font-size: 0.9em;
        }
      }

      .fromOthers {
        grid-template-columns: max-content auto;
        justify-self: start;
        text-align: start;

        .msgGroup {
          border-radius: 20px 20px 20px 0;
        }

        .msgPfp {
          grid-column: 1/2;
        }

        .msgText {
          grid-row: 1/2;
        }

        .msgTime {
          grid-row: 2 / 3;
        }
      }

      .fromUser {
        grid-template-columns: auto max-content;
        justify-self: end;
        text-align: end;

        .msgGroup {
          grid-column: 1/2;
          justify-self: end;
          border-radius: 20px 20px 0 20px;
        }

        .msgPfp {
          grid-column: 2/3;
          grid-row: 1/2;
        }

        .msgText {
          grid-row: 1/2;
          justify-self: end;
        }

        .msgTime {
          grid-row: 2/3;
          justify-self: end;
        }
      }
    }
  }
}

.chatPicEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 40vh;
  padding: 3rem;
  background-color: var(--darker-contrast);
  border: var(--light-border);
  box-shadow: var(--inset-shadow-larger);
  border-radius: 15px;
  text-align: center;

  h3 {
    text-shadow: var(--header-text-shadow);
    font-weight: 900;
  }

  img {
    max-width: 150px;
    border-radius: 50%;
    box-shadow: var(--large-pic-shadow);
    border: 4px solid #4c7d67;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input {
      width: 140px;
    }
  }
}

.menuToggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

input[type="file"] {
  position: relative;
  outline: none;
  width: 140px;
  padding: 4px;
  margin: -4px;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button,
input[type="file"]:active::file-selector-button {
  outline: 2px #e9f4ee solid;
  outline-offset: 2px;
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 14px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::file-selector-button {
  width: 40px;
  color: transparent;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 1rem;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.panelHeader {
  background: hsl(165deg 100% 4% / 80%);
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 0.5rem 0;
}

.panelText {
  background: hsl(170deg 35% 13% / 90%);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 2rem;
}

.profilePanel {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  padding: 2rem;
  border-radius: 18px;
  background-color: var(--darker-contrast);
  box-shadow: var(--inset-shadow-larger);
  border: 3px solid var(--base-contrast);
  width: max(250px, 30%);
  text-shadow: var(--text-shadow);

  button.edit {
    margin-top: 2rem;
  }

  h4 {
    text-shadow: var(--header-text-shadow);
  }

  h3 {
    text-shadow: var(--header-text-shadow);
    font-weight: 900;
    font-size: x-large;
    padding: 10px;
    background: hsl(165deg 100% 4% / 80%);
    border-radius: 5px;
  }

  button,
  textarea {
    box-shadow: 0px 0px 4px 1px #2c4b3f;
    border: 2px solid #4c7d67;
  }

  input:not([type="file"]) {
    height: 1.5rem;
    box-shadow: 0px 0px 4px 1px #2c4b3f;
    border: 2px solid #4c7d67;
  }

  fieldset {
    border: 0;
  }

  .profileInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  form.profileInfo {
    gap: 1rem;

    label {
      margin-bottom: 10px;
    }

    .btnGroup {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 10px;
    }

    .inputGroup {
      display: flex;
      flex-direction: column;
    }
  }

  h3 {
    align-self: center;
  }

  img {
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 2rem;
    align-self: center;
    box-shadow: var(--large-pic-shadow);
    border: 4px solid #4c7d67;
  }

  button {
    align-self: center;
  }

  .fileInput {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
